.center(ng-controller="feedController as vm")  
  
  .margin-top-big(ng-show="vm.tweets.length === 0")
    include ../common/spinner
    em.blue fetching tweets...

  div(ng-hide="vm.tweets.length === 0")
    a.button.blue.pull-right.margin(href="/logout") logout
    
    .tweets
      .tweet(ng-repeat="tweet in vm.tweets")
        .tweet-images
          .tweet-image(ng-repeat="pic in tweet.pics" style="background-image:url({{pic}})")
        .tweet-info
          | RT: {{tweet.retweet_count}}
          | FAV: {{tweet.favorite_count}}
