.center(ng-controller="feedController as vm")  
  
  .margin-top-big(ng-show="vm.tweets.length === 0")
    include ../common/spinner
    em.blue fetching tweets...

  .margin-top-big(ng-hide="vm.tweets.length === 0")
    h1 Your Feed
    
    .tweet(ng-repeat="tweet in vm.tweets")
      img(ng-repeat="pic in tweet.pics" src="{{pic}}")
      | RT: {{tweet.retweet_count}}
      | FAV: {{tweet.favorite_count}}
