.center
  .margin-top-big

    h1.margin-top.bold
      img(src="/assets/img/icon.png" style="height:1.5em;")
      br
      | PicFeed

    h2 Follow Twitter by Images.

    .phone-width.center-block
      a.button.blue.login-button.margin-top-big(href="/loginTwitter" target="_self" style="display:block;")
        img(src="/assets/img/twitter.svg")
        span Login with Twitter

    .credit
      a(href="https://twitter.com/stefanritter") thanks for trying PicFeed &hearts; @stefanritter
